.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ff451a;
  color: white;
  padding: 10px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.dropdownContent a {
  color: #333;
  padding: 8px 12px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
  color: #ff451a;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e03e1a;
}
