.footer {
  background-color: #ff451a;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  margin-top: auto; /* Pushes footer to bottom */
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.socialMedia {
  margin-top: 10px;
}

.socialMedia a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  transition: transform 0.3s;
}

.socialMedia a:hover {
  transform: scale(1.2);
  color: #61dafb;
}
