.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filterButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 998;
}

.filterButtons button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #c1c6d4;
  color: black;
  cursor: pointer;
  font-size: 14px;
  min-width: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.filterButtons button.selected {
  background-color: #939393;
  color: black;
}

.filterButtons button.white.selected {
  background-color: #c1c6d4;
  color: black;
}

.filterButtons button::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.filterButtons button.sf::before {
  background-color: #5798d9;
}

.filterButtons button.generic::before {
  background-color: #46b6c6;
}

.filterButtons button.sn::before {
  background-color: #ac75ff;
}

.filterButtons button.zendesk::before {
  background-color: #e55ecd;
}

.filterButtons button.default::before {
  background-color: #ccc;
}

.scrollContainer {
  overflow-x: hidden;
  padding: 20px;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.componentLink {
  text-decoration: none;
  color: inherit;
}

.platformColor {
  height: 5px;
  width: 100%;
}

.imageContainer {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.componentName {
  font-size: 18px;
  font-weight: bold;
  color: #fe624d;
  margin-top: 10px;
}

.description {
  font-size: 14px;
  color: gray;
  text-align: center;
  padding: 5px;
}

.componentLink a {
  text-decoration: none;
  color: inherit;
}

.componentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  width: 22%; /* Adjust width dynamically */
  min-width: 250px;
  max-width: 280px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.component:hover {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .component {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .component {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .component {
    width: 90%;
  }
}
