.container {
  --sf-color: #5798d9;
  --generic-color: #46b6c6;
  --sn-color: #ac75ff;
  --zendesk-color: #e55ecd;
  --default-color: #ccc;

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filterButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.selected {
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.scrollContainer {
  overflow-x: auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.componentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.component {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
}

.component:hover {
  transform: scale(1.05);
}

.componentLink {
  text-decoration: none;
  color: inherit;
}

.platformColor {
  height: 5px;
  width: 100%;
}

.imageContainer {
  padding: 10px;
}

.componentImage {
  max-width: 100%;
  height: auto;
}

.componentName {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: gray;
}
